.page-nav {
  .lcw;
  
  padding: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  &__link {
    color:@grey;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    &:hover {
      color:white;
    }
    /*&:not(:last-child) {
      border-right:1px solid @grey;
    }*/
  }
}