.page-nav {
  .lcw;
  &__link {
    font-family: Oswald;
    color:@dark-grey;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &--about {
      &:hover {        
        color:@green;
      }
    }
    &--showcase {
      &:hover {        
        color:@blue;
      }
    }
    &--contacts {
      &:hover {        
        color:@red;
      }
    }    
    &:not(:last-child) {
      border-right:1px solid @dark-grey;
    }
  }
}