/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1280px)";*/

@dark-grey:#303030;
@grey:#999999;
@light-grey:#f5f3f5;

@green:#60d4d4;
@red:#e85d4e;
@blue:#6088d4;

@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}

@font-face {
  font-family: BebasNeue;
  src: url("font/BebasNeue Regular.ttf");
}
@font-face {
  font-family: Lekton;
  src: url("font/Lekton/Lekton-Regular.ttf");
}


@import "page-nav.less";
@import "about.less";
@import "showcase.less";
@import "contacts.less";

* {
  transition:all .2s;
}

body {
  margin: 0;
  font-family: Oswald;
  //background-color: @light-grey;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.lcw {
  max-width:1280px;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__header {
    font-weight: lighter;
    text-transform: uppercase;
    font-family: Oswald;
    letter-spacing: -1px;
  }
}

.page-footer {
  background-color: black;
}
