@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1280px)";

@dark-grey:#343234;
@grey:#999999;
@light-grey:#f5f3f5;

@import "page-nav.less";
@import "about.less";
@import "showcase.less";
@import "contacts.less";

* {
  transition:all .1s;
}

html {
  background: @light-grey;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.lcw {
  max-width:1280px;
  margin: 0 auto;
}

.page-header {
  background: linear-gradient(@dark-grey, lighten(@dark-grey, 5%));
  position: fixed;
  width: 100%;
}

.page-footer {
  background-color: white;
  border-top: 1px solid @grey;
}
