@font-face {
  font-family: BebasNeue;
  src: url("font/BebasNeue Regular.ttf");
}
.page-nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.page-nav__link {
  color: #999999;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  /*&:not(:last-child) {
      border-right:1px solid @grey;
    }*/
}
.page-nav__link:hover {
  color: white;
}
.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0 20px;
}
.about p {
  font-size: 16px;
  text-align: justify;
}
.about table th {
  text-align: right;
  vertical-align: top;
  color: #333333;
  padding: 10px 5px;
}
.about table td {
  color: #666666;
  padding: 10px 5px;
}
.about table td ul {
  margin: 0;
  list-style: none;
}
.about table td ul li {
  position: relative;
}
.about table td ul li::before {
  content: '';
  display: block;
  width: 8px;
  height: 4px;
  border-left: 2px solid #999999;
  border-bottom: 2px solid #999999;
  transform: rotate(-45deg);
  position: absolute;
  top: 7px;
  left: -20px;
}
.showcase {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 20px;
}
.showcase__item {
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px #999999;
  border-radius: 1px;
  padding: 10px;
  height: 210px;
  position: relative;
  margin: 5px;
}
.showcase__link {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url(img/zoom.svg) no-repeat center;
  top: 0;
  left: 0;
  opacity: 0;
  text-decoration: none;
}
.showcase__link:hover {
  opacity: .9;
}
.showcase__header {
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-weight: normal;
  position: relative;
  /*&::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: @dark-grey;
      position: absolute;
      top: 120%;
      box-shadow: 
        20px 0 0 0,
        40px 0 0 0;
    }*/
}
.contacts {
  padding: 20px 0;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: BebasNeue;
  color: white;
}
.contacts__phone {
  font-size: 40px;
  text-align: center;
}
.contacts__email {
  display: block;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  padding: 20px 30px;
  color: white;
  border: 5px solid white;
  width: 300px;
  margin: 40px auto 0;
}
* {
  transition: all .2s;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f3f5;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
.lcw {
  max-width: 1280px;
  margin: 0 auto;
}
.page-header {
  background: #343234;
  position: fixed;
  width: 100%;
}
.page-footer {
  background-color: #343234;
}
