/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1280px)";*/
@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}
@font-face {
  font-family: BebasNeue;
  src: url("font/BebasNeue Regular.ttf");
}
@font-face {
  font-family: Lekton;
  src: url("font/Lekton/Lekton-Regular.ttf");
}
.page-nav {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.page-nav__link {
  font-family: Oswald;
  color: #303030;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page-nav__link--about:hover {
  color: #60d4d4;
}
.page-nav__link--showcase:hover {
  color: #6088d4;
}
.page-nav__link--contacts:hover {
  color: #e85d4e;
}
.page-nav__link:not(:last-child) {
  border-right: 1px solid #303030;
}
.about {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__text {
  font-size: 22px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 35px;
  margin-bottom: 40px;
}
.about table {
  margin: 0 auto;
}
.about table th {
  width: 470px;
  text-align: right;
  vertical-align: top;
  color: #333333;
  padding: 10px 5px;
}
.about table td {
  width: 470px;
  color: #666666;
  padding: 10px 5px;
}
.about table td ul {
  margin: 0;
  list-style: none;
  padding-left: 15px;
}
.about table td ul li {
  position: relative;
  margin: 5px 0;
}
.about table td ul li::before {
  content: '';
  display: block;
  width: 5px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: -15px;
  background: #60d4d4;
}
.showcase {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 60px auto;
}
.showcase__item {
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px #999999;
  border-radius: 1px;
  height: 210px;
  position: relative;
  margin: 5px;
}
.showcase__link {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75) url(img/zoom.svg) no-repeat center;
  top: 0;
  left: 0;
  opacity: 0;
  text-decoration: none;
}
.showcase__link:hover {
  opacity: .9;
}
.showcase__header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  color: white;
  font-weight: normal;
  letter-spacing: 5px;
}
.contacts {
  padding: 20px 0;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.contacts__phone {
  font-size: 60px;
  text-align: center;
  letter-spacing: -3px;
}
.contacts__email {
  display: block;
  text-align: center;
  font-size: 60px;
  text-decoration: none;
  padding: 20px 40px;
  color: white;
  border: 5px solid white;
  margin: 40px auto 0;
  letter-spacing: -1px;
}
.contacts__email:hover {
  background-color: white;
  color: black;
  border-color: black;
}
* {
  transition: all .2s;
}
body {
  margin: 0;
  font-family: Oswald;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
.lcw {
  max-width: 1280px;
  margin: 0 auto;
}
.page-header {
  text-align: center;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-header__header {
  font-weight: lighter;
  text-transform: uppercase;
  font-family: Oswald;
  letter-spacing: -1px;
}
.page-footer {
  background-color: black;
}
